body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.blog-post {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro {
  text-align: right;
  font-size: 18px;
  line-height: 10px;
}

.content {
  font-size: 16px;
  color: gray;
}
