article {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

article:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 3);
}

h2 {
  text-align: center;
}

.highlight {
  background-color: yellow;
}

.highlight:hover {
  font-weight: bold;
}

.quote::before {
  content: '"';
  font-size: 20px;
  color: brown;
}

.quote::after {
  content: '"';
  font-size: 20px;
  color: brown;
}
