/* article {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

article:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 3);
}

h2 {
  text-align: center;
}

.highlight {
  background-color: yellow;
}

.highlight:hover {
  font-weight: bold;
}

.quote::before {
  content: '"';
  font-size: 20px;
  color: brown;
}

.quote::after {
  content: '"';
  font-size: 20px;
  color: brown;
} */

body {
  background-color: #0c8599;
}

.main-panel {
  background-color: beige;
  width: 50%;
  margin-top: 100px;
  margin-left: 150px;
  padding: 80px;
}

.main-screen {
  background-color: #b2f2bb;
  width: 50%;
  margin-top: 10px;
  margin-left: 50px;
  padding: 80px;
  border-radius: 5%;
  border: 1px solid #2f9e44;
}

.button-panel {
  background-color: beige;
  width: 50%;
  margin-top: 10px;
  margin-left: 150px;
  padding: 80px;
}

.on-button {
  background-color: #868e96;
  width: 0%;
  margin-top: 0px;
  margin-left: 0px;
  padding: 50px;
  border-radius: 300%;
  border: 1px solid black;
}

.off-button {
  background-color: #868e96;
  width: 0%;
  margin-top: 0px;
  margin-left: 350px;
  padding: 50px;
  border-radius: 300%;
  border: 1px solid black;
}

